@media only screen and (max-width: 1200px) {
    .feature_text_column {
        top: 0px;
        width: 65%;
    }
    .feature_image {
        width: 400px;
    }
}

@media only screen and (max-width: 860px) {
    .hero_column {
        /* width: 50%; */
        float: none;
    }
    
    .hero_left {
        width: 100%;
    }
    .hero_right {
        width: 100%;
    } 

    .provent_timer {
        float: none;
        margin: 0 auto;
        display: block;
    }   


    .feature_column {
        width: 100%;
        float: none;
        position: relative;
        height: auto;
    }
    
    .feature_text_column {
        width: 80%;
        margin: 0 auto;
        display: block;
        top: 0px;
        position: relative;
    }
    .feature_image {
        width: 80%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .middle_desktop {
        display: none;
    }
    .middle_mobile {
        display: block;
    }

    .footer_column {
        width: 100%;
        float: none;
        display: block;
        margin: 0 auto;
    }
    .fsc_logo_container {
        width: 60px;
    }
    .footer_logo {
        width: 60px;
        left: 15px;
        margin-bottom: 30px;
    }
    .footer_secondary_column {
        float: none;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .footer_list_item {
        text-align: center;
        display: block;
        margin: 5px auto;
    }
}

@media only screen and (max-width: 600px) {
    .ham_menu {display:block;}
    .nav-download-btn {display: none;}
    .nav_link {display: none;}
}