@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dosis:wght@300&family=Inter&family=Poppins:ital,wght@0,600;1,600&family=Space+Mono&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    /* overflow-x: hidden; */
    /* background: #333; */
}

img {
    pointer-events: none;
}

nav {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 99;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
}

.nav-links {
    width: 100%;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-family: 'Inter', sans-serif;
    line-height: 60px;
}

.nav-logo {
    position: relative;
    width: 40px;
    height: auto;
    top: 15px;
}

.nav-right {
    float: right;
	color: #424244;
	font-weight: bold;
}


.nav_link {
    color: #424244;
    text-decoration: none;
    transition: 0.3s;
}

.nav_link:hover {
    color: #88DBD4;
}

.nav-download-btn {
    background-color: #066660;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    border-radius: 40px;
    padding: 10px 18px;
    text-decoration: none;
    transition: 0.3s;
    border: #066660 2px solid;
}

.nav-download-btn:hover {
    background: transparent;
    color: #424244;
}

.quote {
    width: 80%;
}

/*Hamburger Menu*/
.ham_menu {
    width:auto;
    height:auto;
    border:none;
    cursor:pointer;
    display:none;
    margin-right:2em;
    position: relative;
    top: 15px;
    background: transparent;
}
.ham_menu:focus {
    outline:none;
}
.lines {
    width:25px;
    height:3px;
    margin:4px;
    top:0px;
    background: #88DBD4;
}

.line_one_ani {
    transition:0.2s;
    transform:rotate(135deg);
    position: relative;
    top:7px;
    animation: move_then_rotate 0.1s;
}
@keyframes move_then_rotate {
    from {top:0px; transform:rotate(0deg);}
    to {top:7px; transform:rotate(135deg);}
}
.line_two_ani {
    transition:0.2s;
    transform:rotate(45deg);
}
.line_three_ani {
    position: relative;
    transition:0.5s;
    top:-7px;
    animation: move_then_disappear 0.1s;
    opacity:0;
    right:0px;
}
@keyframes move_then_disappear {
    0% {right:0px; opacity:1; top:0px;}
    25% {right:5px;}
    50% {right:-5px;}
    100% {right:0px; opacity:0; top:-7px;}
}
.ham_menu_spin {
    animation: ham_menu_spin 0.2s;
    transform-origin: center;
    transform:rotate(0deg);
}
@keyframes ham_menu_spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#hammenu_line_one {transition:0.2s;}
#hammenu_line_two {transition:0.2s;}
#hammenu_line_three {transition:0.2s;}
@keyframes move_then_reappear {
    0% {right:0px; opacity:0; top:-7px;}
    25% {right:-5px;}
    50% {right:5px;}
    100% {right:0px; opacity:1; top:0px;}
}
/*Hamburger Menu ^ ^ ^*/

/* Mobile navbar */
.vnb_blur {
    background: #000000;
    opacity: 0.7;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 89;
    transition: 0.3s;
    display: none;
    cursor: pointer;
}

.mobile_navbar {
    background: #FFFFFF;
    height: 100vh;
    width: 70%;
    position: fixed;
    /* display: block; */
    display: none;
    right: 0;
    z-index: 90;
    right: -500px;
    transition: 0.3s;
}

.mobile_navbar_ul {
    position: relative;
    top: 200px;
    list-style-type: none;
    margin: 0 auto;
    display: block;
    padding: 0;
}
.nav_mobile_li {
    text-align: center;
    font-size: 1.2em;
    margin: 20px 0;
}

.nav_mobile_link {
    color: #424244;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Inter';
    font-style: normal;
}

.nav_mobile_link:hover {
    color: #88DBD4;
}
.mobilenav-download-btn {
    background: #066660;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    border-radius: 40px;
    padding: 10px 15px;
    top: 100px;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
    border: #066660 2px solid;
}

.mobilenav-download-btn:hover {
    background: transparent;
    color: #424244;
}
/* Mobile navbar ^^^ */

.hero {
    background: linear-gradient(149.14deg, #D8FBF9 -5.45%, #ECF5F5 81.68%);
    border-bottom-right-radius: 300px;
    position: relative;
    top: 0px;
    min-height: 80vh;
    padding: 0px 10%;
    height: auto;
}

.hero:after {
    content: "";
    display: table;
    clear: both;
}

.hero_column {
    /* width: 50%; */
    float: left;
    position: relative;
    height: auto;
	margin: 5% 0px;
}

.hero_left {
    width: 60%;
}
.hero_right {
    width: 40%;
}

.intro_title {
    color:#88DBD4;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    position: relative;
    top: 120px;
    font-weight: bold;
}

.intro_slogan {
    color: #424244;
    font-family: 'Inter', sans-serif;
    font-size: 4em;
    position: relative;
    margin-top: 120px;
}

.intro_description {
    color: #424244;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    position: relative;
    margin-top: 50px;
    width: 380px;
}

.provent_timer {
    margin-top: 100px;
    width: auto;
    height: 400px;
    position: relative;
    right: 0px;
    float: right;
    animation: clock_bounce 2s infinite alternate;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

@keyframes clock_bounce {
    from {top: -20px;}
    to {top: 20px;}
}

.hero_download {
    position: relative;
    background-color: #066660;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    border-radius: 40px;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 30px;
    line-height: 30px;
    top: -30px;
	font-weight: bold;
    transition: 0.3s;
    border: #066660 2px solid;
}

.hero_download:hover {
    background: transparent;
    color: #424244;
}

.quote {
    font-family: 'Inter';
    font-style: normal;
    font-size: 2em;
    text-align: center;
    color: #424244;
    width: 400px;
    display: block;
    margin: 0 auto;
}

.features_section {
    margin-top: 100px;
    overflow-x: hidden;
}

.feature_container:after {
    content: "";
    display: table;
    clear: both;
}
.feature_column {
    width: 50%;
    float: left;
    position: relative;
    height: auto;
}

.feature_text_column {
	width: 70%;
	margin: 0 auto;
	display: block;
	top: 100px;
	position: relative;
}

.feature_title {
	font-family: 'Inter';
	font-style: normal;
	font-size: 2em;
	color: #424244;
}

.feature_description {
	font-family: 'Inter';
	font-style: normal;
	color: #424244;
}

.left_ftc {

}
.right_ftc {
	position: relative;
	margin-left: auto;
	display: block;
}

.feature_image_column {
	width: 100%;
    height: 400px;
    overflow: hidden;
    /* border: 2px solid #000; */
}

.feature_image {
    width: 600px;
    height: 100%;
	position: relative;
	display: block;
    object-fit: contain;
}

.left_fic {
	border-radius: 0px 0px 50% 0px;
	margin-right: auto;
}

.right_fic {
	border-radius: 0px 0px 0px 50%;
	margin-left: auto;
}

.middle_desktop {
    display: block;
}
.middle_mobile {
    display: none;
}

/* Email section */

.emaillist {
	margin-top: 200px;
	background: linear-gradient(45.38deg, #E2FFFD -40%, #ECF5F5 58.09%);
	padding: 5% 10%;
	border-radius: 0px 0px 0px 150px;
    padding-bottom: 2.5%;
}

.email_title {
	font-size: 2em;
	font-family: 'Inter';
	font-style: normal;
	color: #424244;
}

.email_signup_prompt {
	color: #88DBD4;
	font-family: 'Inter';
	font-style: normal;
}

.email_list_button {
    background-color: #066660;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    border-radius: 40px;
    padding: 10px 30px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-top: 20px;

    transition: 0.3s;
    border: #066660 2px solid;
    font-weight: bold;
    margin-bottom: 60px;
}

.email_list_button:hover {
    background: transparent;
    color: #424244;
}
.email_signup_description {
	color: #424244;
	font-family: 'Inter';
	font-style: normal;
}

/* Email section ^^^ */

.ready_title {
	font-family: 'Inter';
    font-style: normal;
    font-size: 2em;
    text-align: center;
    color: #424244;
    width: 400px;
    display: block;
    margin: 60px auto;
}

/* Footer */

footer {
	margin-top: 50px;
	width: 100%;
	height: auto;
	background: #00635D;
	padding: 2.5% 0px;
}

.footer_column_container {
	padding: 0px 10%;
}

.footer_column_container:after {
    content: "";
    display: table;
    clear: both;
}

.footer_column {
    width: 25%;
    float: left;
    position: relative;
    height: auto;
	margin: 0 auto;
	display: block;
}

.footer_secondary_column {
    float: left;
    position: relative;
    height: auto;
	margin: 0 auto;
	display: block;
}
.fsc_logo_container {
	width: 20%;
}
.fsc_text_container {
	width: 80%;
}

.fsc_text {
	color: white;
	text-decoration: none;
	width: 90%;
}

.footer_logo {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	top: 20px;
	position: relative;
}

.footer_list_container {
	list-style-type: none;
}

.footer_list_item {
	color: white;
	font-family: 'Inter';
    font-style: normal;
}

.flt_title {
	font-size: 1.5em;
}

.flt_link {
	color: white;
	text-decoration: none;
    transition: 0.3s;
}

.flt_link:hover {
    color: #D8FBF9;
}

.credits {
	color: #FFFFFF;
	font-family: 'Inter';
	font-style: normal;
	width: 80%;
	margin: 0px auto;
	display: block;
	position: relative;
    margin-top: 25px;
}
/* Footer ^^^ */