.producthunt-banner {
  margin-top: 60px;
  background: #88DBD4;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 10;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.producthunt-banner p {
  font-family: Inter;
  font-weight: bold;
  text-align: center;
  color: #424244;
  padding: 0px 5px;
}

.producthunt-banner a {
  color: #0D625D;
  text-decoration: none;
  transition: .25s;
}

.producthunt-banner a:hover {
  filter: brightness(1.8);
}

@media only screen and (max-width: 860px) {
  .producthunt-banner {
    margin-top: 28.5px;
  }
}

@media only screen and (max-width: 600px) {
  .producthunt-banner {
    margin-top: 40px;
  }
}