@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dosis:wght@300&family=Inter&family=Poppins:ital,wght@0,600;1,600&family=Space+Mono&display=swap');

body {
    margin: 0;
}

img {
    pointer-events: none;
}

/* Nav bar */
nav {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 99;
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
}

.nav-links {
    width: 100%;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-family: 'Inter', sans-serif;
    line-height: 60px;
}

.nav-logo {
    position: relative;
    width: 40px;
    height: auto;
    top: 15px;
}

.nav-right {
    float: right;
	color: #424244;
	font-weight: bold;
}


.nav_link {
    color: #424244;
    text-decoration: none;
    transition: 0.3s;
}

.nav_link:hover {
    color: #88DBD4;
}

.nav-download-btn {
    background-color: #066660;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    border-radius: 40px;
    padding: 10px 18px;
    text-decoration: none;
    transition: 0.3s;
    border: #066660 2px solid;
    position: relative;
    top: 2.5px;
    font-weight: bold;
    cursor: pointer;
}

.nav-download-btn:hover {
    background: transparent;
    color: #424244;
}

.quote {
    width: 80%;
}

/*Hamburger Menu*/
.ham_menu {
    width:auto;
    height:auto;
    border:none;
    cursor:pointer;
    display:none;
    margin-right:2em;
    position: relative;
    top: 15px;
    background: transparent;
}
.ham_menu:focus {
    outline:none;
}
.lines {
    width:25px;
    height:3px;
    margin:4px;
    top:0px;
    background: #88DBD4;
}

.line_one_ani {
    transition:0.2s;
    transform:rotate(135deg);
    position: relative;
    top:7px;
    animation: move_then_rotate 0.1s;
}
@keyframes move_then_rotate {
    from {top:0px; transform:rotate(0deg);}
    to {top:7px; transform:rotate(135deg);}
}
.line_two_ani {
    transition:0.2s;
    transform:rotate(45deg);
}
.line_three_ani {
    position: relative;
    transition:0.5s;
    top:-7px;
    animation: move_then_disappear 0.1s;
    opacity:0;
    right:0px;
}
@keyframes move_then_disappear {
    0% {right:0px; opacity:1; top:0px;}
    25% {right:5px;}
    50% {right:-5px;}
    100% {right:0px; opacity:0; top:-7px;}
}
.ham_menu_spin {
    animation: ham_menu_spin 0.2s;
    transform-origin: center;
    transform:rotate(0deg);
}
@keyframes ham_menu_spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#hammenu_line_one {transition:0.2s;}
#hammenu_line_two {transition:0.2s;}
#hammenu_line_three {transition:0.2s;}
@keyframes move_then_reappear {
    0% {right:0px; opacity:0; top:-7px;}
    25% {right:-5px;}
    50% {right:5px;}
    100% {right:0px; opacity:1; top:0px;}
}
/*Hamburger Menu ^ ^ ^*/
/* Nav bar ^^^ */

/* Mobile navbar */
.vnb_blur {
    background: #000000;
    opacity: 0.7;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 89;
    transition: 0.3s;
    display: none;
    cursor: pointer;
}

.mobile_navbar {
    background: #FFFFFF;
    height: 100vh;
    width: 70%;
    position: fixed;
    /* display: block; */
    display: none;
    right: 0;
    z-index: 90;
    right: -500px;
    transition: 0.3s;
}

.mobile_navbar_ul {
    position: relative;
    top: 200px;
    list-style-type: none;
    margin: 0 auto;
    display: block;
    padding: 0;
}
.nav_mobile_li {
    text-align: center;
    font-size: 1.2em;
    margin: 20px 0;
}

.nav_mobile_link {
    color: #424244;
    text-decoration: none;
    transition: 0.3s;
    font-family: 'Inter';
    font-style: normal;
}

.nav_mobile_link:hover {
    color: #88DBD4;
}
.mobilenav-download-btn {
    background: #066660;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    border-radius: 40px;
    padding: 10px 15px;
    top: 100px;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
    border: #066660 2px solid;
}

.mobilenav-download-btn:hover {
    background: transparent;
    color: #424244;
}
/* Mobile navbar ^^^ */


/* Footer */

footer {
	margin-top: 50px;
	width: 100%;
	height: auto;
	background: #00635D;
	padding: 2.5% 0px;
}

.footer_column_container {
	padding: 0px 10%;
}

.footer_column_container:after {
    content: "";
    display: table;
    clear: both;
}

.footer_column {
    width: 25%;
    float: left;
    position: relative;
    height: auto;
	margin: 0 auto;
	display: block;
}

.footer_secondary_column {
    float: left;
    position: relative;
    height: auto;
	margin: 0 auto;
	display: block;
}
.fsc_logo_container {
	width: 20%;
}
.fsc_text_container {
	width: 80%;
}

.fsc_text {
	color: white;
	text-decoration: none;
	width: 90%;
}

.footer_logo {
	width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	top: 20px;
	position: relative;
}

.footer_list_container {
	list-style-type: none;
}

.footer_list_item {
	color: white;
	font-family: 'Inter';
    font-style: normal;
}

.flt_title {
	font-size: 1.5em;
}

.flt_link {
	color: white;
	text-decoration: none;
    transition: 0.3s;
}

.flt_link:hover {
    color: #D8FBF9;
}

.credits {
	color: #FFFFFF;
	font-family: 'Inter';
	font-style: normal;
	width: 80%;
	margin: 0px auto;
	display: block;
	position: relative;
    margin-top: 25px;
}
/* Footer ^^^ */

@media only screen and (max-width: 860px) {
    .footer_column {
        width: 100%;
        float: none;
        display: block;
        margin: 0 auto;
    }
    .fsc_logo_container {
        width: 60px;
    }
    .footer_logo {
        width: 60px;
        margin-bottom: 30px;
    }
    .footer_secondary_column {
        float: none;
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    .footer_list_container {
        padding: 0;
    }
    .footer_list_item {
        text-align: center;
        display: block;
        margin: 5px auto;
    }
}

@media only screen and (max-width: 750px) {
    .ham_menu {display:block;}
    .nav-download-btn {display: none;}
    .nav_link {display: none;}
}


/* Download options popup */
.downloadOptionsBackgroundBlur {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    top: 0;
    z-index: 10;
}
.downloadOptions {
    background: white;
    height: 250px;
    width: 400px;
    position: fixed;
    top: 15%;
    display: block;
    margin: 0 auto;
    z-index: 10;
    border-radius: 20px;
    padding: 15px;
}
.downloadOptionTitle {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #066660;
    font-weight: bold;
}
.downloadOptionCrossMark {
    color: gray;
    right: 20px;
    top: 0;
    position: absolute;
}
.downloadOptionCrossMark:hover {
    color: red;
}
.downloadOptionsButton {
    background: #066660;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    border-radius: 40px;
    padding: 10px 15px;
    top: 50px;
    position: relative;
    text-decoration: none;
    transition: 0.3s;
    border: #066660 2px solid;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.downloadOptionsButton:hover {
    background: transparent;
    color: #424244;
}

/* Download options popup ^^ */

.productsSectionContainer {
    width: 80%;
    margin: 5% auto;
    display: block;
    padding-top: 80px;
}

.productsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 100px; Optionally add gap between items */
}

.productContainer {
    width: 40%;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
}

.productBanner {
    margin-top: 0px;
    padding: 2.5px 30px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    color: #424244;
    font-size: 1em;
}
.productLogo {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.productTitle {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
}

.productFeature {
    font-family: 'Inter';
    font-style: normal;
    padding: 0 20px;
    margin-bottom: 0px;
}

.productDownload {
    background-color: #066660;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    border-radius: 40px;
    padding: 10px 18px;
    text-decoration: none;
    transition: 0.3s;
    border: #066660 2px solid;
    position: relative;
    top: 2.5px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 120px;
}

.productContainer:first-child .productDownload:hover {
    background: transparent;
    color: #424244;
}

.productContainer:nth-child(2) .productDownload:hover {
    background: transparent;
    color: #fff;
}

.productMainText {
    color: #424244;
}

.productZeroText {
    color: #FFFFFF;
}

@media only screen and (max-width: 850px) {
    .productsContainer {
        display: block;
        margin: 0 auto;
    }

    .productContainer {
        width: 300px;
        margin: 0 auto;
        display: block;
        margin-top: 40px;
    }

}